<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="false">

  <extensions>
    <add assembly="NLog.Web.AspNetCore" />
  </extensions>

  <variable name="logDir" value="/app/logs" />


  <targets>
    <target xsi:type="Console" name="console"
        layout="${longdate} | ${level:uppercase=true} | ${message} ${exception:format=toString,Data:maxInnerExceptionLevel=5}" />

    <target xsi:type="File" name="file"
        fileName="${logDir}/app-${shortdate}.log"
        layout="${longdate} | ${level:uppercase=true} | ${message} ${exception:format=toString,Data:maxInnerExceptionLevel=5}" />

    <target xsi:type="File" name="errorFile"
        fileName="${logDir}/errors-${shortdate}.log"
        layout="${longdate} | ${level:uppercase=true} | ${message} ${exception:format=toString,Data:maxInnerExceptionLevel=5}" />

  </targets>

  <rules>
    <logger name="*" minlevel="Trace" writeTo="console" />
    <logger name="ms.auth.*" minlevel="Info" maxlevel="warn" writeTo="console, file" />
    <logger name="*" minlevel="Error" writeTo="errorFile, console" />
    <logger name="*" minlevel="Debug" writeTo="debugConsole" />

    <logger name="Microsoft.*" minlevel="Warn" writeTo="" />
    <logger name="System.*" minlevel="Warn" writeTo="" />
  </rules>

</nlog>